<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Current Driver Locations</h1>
      </div>
      <div class="panel-body">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable='true' options='options' bounds='map.bounds'>
          <ui-gmap-markers models="markers" click="driverDetails" fit='true' coords="'self'" icon="'icon'">
            <ui-gmap-windows show="show">
              <div ng-non-bindable>{{title}}</div>
            </ui-gmap-windows>
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <ng-form name="addDriver" id="addDriver" class="col-sm-12" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Add New Driver</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-sm-12">
            <p>Name</p>
            <input type="text" class="form-control" id="name" onfocus="this.value = ''" onblur="this.style.color='black'" ng-model="driverData.name" ng-required="true">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <p>Device</p>
            <input type="text" class="form-control" id="device" onfocus="this.value = ''" onblur="this.style.color='black'" ng-model="driverData.device" ng-required="true">
          </div>
          <div class="form-group col-sm-6">
            <p>Status</p>
            <input type="text" class="form-control" id="status" onfocus="this.value = ''" onblur="this.style.color='black'" ng-model="driverData.status" ng-required="true">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <p>Latitude</p>
            <input type="text" class="form-control" id="lat" onfocus="this.value = ''" onblur="this.style.color='black'" ng-model="driverData.lat" ng-required="true">
          </div>
          <div class="form-group col-sm-6">
            <p>Longitude</p>
            <input type="text" class="form-control" id="long" onfocus="this.value = ''" onblur="this.style.color='black'" ng-model="driverData.long" ng-required="true">
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <add-driver></add-driver>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Update Driver Statuses</h1>
      </div>
      <div class="panel-body">
        <p>Enter the new status and batch update the selected drivers.</p>
        <input type="text" class="form-control" ng-model="updatedStatus">
      </div>
      <div class="panel-footer">
        <batch-update-status></batch-update-status>
        <batch-delete></batch-delete>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <form class="col-sm-6">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" ng-model="searchText" class="form-control" placeholder="Search by name, device, or status">
      </div>
    </div>
  </form>
  <form class="col-sm-6">
    <div class="input-group">
      <input type="text" ng-model="sortText.text" class="form-control" placeholder="Sort by category">
      <span class="input-group-btn">
        <button class="btn btn-secondary" ng-click="sort(sortText.text)" type="button">Sort</button>
      </span>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-12">
    <table ng-table="tableParams" show-filter="false" class="table table-bordered table-striped">
         <tr ng-repeat="driver in data | filter: searchText | orderBy: sortOrder">
             <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                 <input type="checkbox" ng-model="checkboxes.items[driver.id]" />
             </td>
             <td data-title="'Name'">
                 {{driver.name}}
             </td>
             <td data-title="'Device'">
                 {{driver.device}}
             </td>
             <td data-title="'Status'">
                 {{driver.status}}
             </td>
         </tr>
    </table>
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
      <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
    </script>
  </div>
</div>
